@font-face {
    font-family: 'Railway', sans-serif;
    src: url('./../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Railway', sans-serif;
    src: url('./../fonts/Raleway-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'OpenSans', sans-serif;
    src: url('./../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans', sans-serif;
    src: url('./../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}