// primary colors
$bg-main: hsl(218, 28%, 13%);
$bg-intro: hsl(217, 28%, 15%);
$bg-footer: hsl(216, 53%, 9%);
$bg-testimonials: hsl(219, 30%, 18%);
// accent (cta gradient)
$gr-cyan: hsl(176, 68%, 64%);
$gr-blue: hsl(198, 60%, 50%);
// neutral
$white: hsl(0, 0%, 100%);

// width
$mobile: 375px;
$desktop: 1440px;